/* Discord Color */
:root {
  --main-bg-color: #000;
  --channelList-bg-color: #2f3136;
  --memberList-bg-color: #2f3136;
  --message-bg-color: #36393f;
  --message-inputbox-bg-color: #32353b;
  --profilebar-bg-color: #36393f;
  --hover-bg-color: #424549;
  --active-bg-color: #7289da;
  --normal-txt-color: #99aab5;
  --main--txt-color: #fff;
  --hover-txt-color: #fff;
  --active-txt-color: #fff;
}
